<tr>
	<td><%= link_to @prospect.full_name, @prospect %></td>
	<td><%= @prospect.email %></td>
	<td><%= @prospect.mobile %></td>
	<td><%= @prospect.location %></td>
	<td><%= @prospect.stage.name %></td>
	<td><%= @prospect.user.full_name %></td>
</tr>