<!DOCTYPE html>
<html>
<head>
  <title>Lead2Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= render './layouts/nav' %>
	<!-- <p>
		<%# if user_signed_in? %>
			<%#= current_user.email %> |
			<%#= link_to "Edit Account", edit_user_registration_path %> |
			<%#= link_to "Logout", destroy_user_session_path, method: :delete %>
			<p>
				<%#= link_to "Prospects", prospects_path %> | <%#= link_to "Stages", stages_path %> | <%#= link_to "Users", users_path %> | <%#= link_to "Customers", dashboard_index_path %>
			</p>
		<%# else %>
			<%#= link_to "Login", new_user_session_path %>
		<%# end %>
	</p> -->


	<%= yield %>
</div>

</body>
</html>
